body{
    background: black;
    color: #0ff;
}

header{
    padding-top: 50px;
    padding-left: 10px;
}

label{
    left: 5%;
    width: 15%;
}

.title2{
    color: transparent;
    -webkit-text-stroke: 1px #0ff;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 128pt;
}

.col-sm-10{
    position: relative;
    display: inline-block;
    width: 80%;
    padding-left: 2%;
}

.form-group{
    display: inline-block;
    width: 47%;
}

#head-img{
    display: block;
    position: relative;
    padding-top: 50px;
    margin: 0 auto;

}

#min-date{
    position: relative;
    height: 60px;
    font-size: 25pt;
    background-color: transparent;
    font-family: 'Audiowide';
    color: #0ff;
    -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease;
}

#min-date:hover{
    color: #fff;
    -webkit-animation: Glow 1.5s ease infinite alternate;
            animation: Glow 1.5s ease infinite alternate;
}


#max-date{
    position: relative;
    height: 60px;
    font-size: 25pt;
    background-color: transparent;
    font-family: 'Audiowide';
    color: #0ff;
    -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease;
}

#max-date:hover{
    color: #fff;
    -webkit-animation: Glow 1.5s ease infinite alternate;
            animation: Glow 1.5s ease infinite alternate;
}


#button-div{
    display: block;
    position: relative;
    margin: 0 auto;
}

#button_subdiv{
    position: relative;
    margin: 0 auto;
}

#button{
    position: relative;
    margin: 0 auto;
    width: 80%;
    border: #3A7734;
    border-radius: 20px;
}

#list{
    padding-top: 50px;
}

#list li{
    color: white;
    background-color: rgba(11,120,134,0.5);
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#list li p{
    position: relative;
}

#list li a:link{
    font-family:Segoe UI Light;
    color:#0ff;
    text-decoration:none;
}

#list li a:visited{
    font-family:Segoe UI Light;
    color:orange;
    text-decoration:none;
}


#list li:hover{
    font-size: 24pt;
    text-decoration:underline;
    background-color: rgba(11 , 110 , 124 , 0.3);
}